/sandwall
/tests/demo
/tests/test_sandbox
/tests/test_rules
*.o
*.exe
/tests/test_hosts
/tests/test_proxy
/tests/test_connect
/tests/test_wall
tests/test_winwall
nimble.develop
nimble.paths
nimbledeps
